<mat-toolbar color="primary" class='bgHeader'>
    <ul>
      <a routerLink="listTask" *ngIf="_userService.loggedIn()">List Task</a>
    </ul>
    <ul>
      <a routerLink="saveTask" *ngIf="_userService.loggedIn()">Create Task</a>
    </ul>
    <ul>
      <a routerLink="listUser" *ngIf="_userService.loggedIn()">Admin</a>
    </ul>
    <ul>
      <a routerLink="listUser" *ngIf="_userService.loggedIn()">Admin</a>
    </ul>
    <span class="headerSpace"> </span>
    <ul>
      <a mat-button routerLink="SingUp" *ngIf="!_userService.loggedIn()">Sing Up</a>
      <a mat-button routerLink="login" *ngIf="!_userService.loggedIn()">Login</a>
      <a mat-button *ngIf="_userService.loggedIn()" (click)="_userService.logout()">Logout</a>
    </ul>
  </mat-toolbar>
  