<table class="barra">
    <tr>
        <th *ngFor="let column of columns">
            {{column}}
        </th>
    </tr>
    <tr *ngFor="let task of taskData">
        <td *ngIf="task.Status=='done'">
            {{task.name}}
        </td>
        <td *ngIf="task.Status=='done'">
        {{task.description}}
        </td>
        <td *ngIf="task.Status=='done'">
            {{task.Status}}
        </td>
        <td *ngIf="task.Status=='done'">
            {{task.date}}
        </td>
    </tr>
</table>